---
layout: default
title: Portfolio
---

      {% for post in site.tags.portfolio %}
<div class="post" id="{{ post.id }}">
        <h2>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h2>

		{% if post.startdate %}
			<span class="post-date">{{ post.startdate | date: "%B %Y" }} - {{ post.enddate | date: "%B %Y" }}</span>
		{% else %}
			<span class="post-date">{{ post.date | date: "%B %Y" }}</span>
		{% endif %}

        {{ post.excerpt | markdownify }} <a href="{{ post.url }}"> (More...) </a>

</div>
    {% endfor %}

